body {
    font-family: tahoma;
}

/* Change font size for mobiles */
@media all and (max-width: 599px) and (min-width: 320px) {
    body {
        font-size: 60%;
    }
}

.name {
    height: auto;
    width: 100%;
}

.sect-head {
    text-align: center;
    font-weight: bold;
    color: #3B3C3E;
}

.center {
    text-align: center;
}

.push_date {
    float: right;
}

.left_icon {
    padding: 10px;
    height: 50px;
    width: 60;
}
