body {
    font-family: tahoma;
}

.name {
    height: auto;
    width: 100%;
}

.sect-head {
    text-align: center;
    font-weight: bold;
    color: #3B3C3E;
}

.center {
    text-align: center;
}

.push_date {
    float: right;
}

.left_icon {
    float: left;
    padding: 5px;
    padding-right: 10px;
    height: 50px;
    width: 60px
}
